DATABASE_URL="mysql://site_nav:CHANGE_ME@127.0.0.1:3306/site_nav"
MYSQL_ADMIN_URL="mysql://root@127.0.0.1:3306/mysql"
APP_URL="https://nav.jtlcookie.com"
AUTH_SECRET="CHANGE_ME"
SESSION_COOKIE_SECURE="false"
TURNSTILE_SITE_KEY=""
TURNSTILE_SECRET_KEY=""
MYSQL_HOST="127.0.0.1"
MYSQL_PORT="3306"
MYSQL_USER="site_nav"
MYSQL_PASSWORD="CHANGE_ME"
MYSQL_DATABASE="site_nav"
MYSQL_SSL="false"
MYSQL_POOL_SIZE="10"
MYSQL_POOL_MAX_IDLE="5"
MYSQL_POOL_IDLE_TIMEOUT="60000"
